@use "../base/breakpoints" as *;

[class*="button-"] {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    border-radius: 8px;
    text-transform: uppercase;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .3s ease-in;
    }

    &:hover,
    &:focus {
        @media screen and (min-width: $breakpoint-m) {
            cursor: pointer;

            &::before {
                opacity: 1;
            }
        }
    }

    &:focus {
        outline-offset: 2px;
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    >* {
        position: relative;
        z-index: 1;
    }
}

.button-light {
    background-color: var(--accent-50);
    border: 2px solid var(--neutral-900);

    &::before {
        background: var(--gradient-2);
    }

    &:focus {
        outline: 2px solid var(--neutral-900);
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: var(--neutral-900);
    }
}

.button-dark {
    background-color: var(--neutral-900);
    border: 2px solid var(--neutral-0);

    &::before {
        background: var(--gradient-3);
    }

    &:focus {
        outline: 2px solid var(--neutral-0);
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: var(--neutral-0);
    }
}

.button-light.hero-content-button {
    justify-content: space-between;
    height: 64px;
    padding: 0 24px;
}

.button-light.membership-options-button {
    justify-content: center;
    height: 61px;

    @media screen and (min-width: $breakpoint-s) {
        height: 63px;
    }
}

.button-dark.footer-button {
    justify-content: center;
    gap: 16px;
    height: 64px;
}