@use "../base/breakpoints" as *;

.image-text {
    .section-content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        padding: 64px 0;

        @media screen and (min-width: $breakpoint-s) {
            padding: 80px 0;

            @media screen and (min-width: $breakpoint-m) {
                flex-direction: row;
                gap: 80px;
                padding: 120px 0;
            }
        }

        .image-wrapper {
            @media screen and (min-width: $breakpoint-m) {
                flex-basis: 0;
                flex: 560 1 0;
                display: flex;
                align-items: center;
            }

            img {
                border-radius: 12px;

                @media screen and (min-width: $breakpoint-s) {
                    max-width: 704px;
                    border-radius: 25px;

                    @media screen and (min-width: $breakpoint-m) {
                        width: 100%;
                        border-radius: 20px;
                    }
                }
            }
        }

        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media screen and (min-width: $breakpoint-s) {
                gap: 34px;

                @media screen and (min-width: $breakpoint-m) {
                    flex-basis: 0;
                    flex: 530 1 0;
                    justify-content: center;
                }
            }

            .unordered-list {
                @media screen and (min-width: $breakpoint-m) {
                    width: 81.32%;
                }
            }
        }
    }
};