@use "../base/breakpoints" as *;

.testimonial {
    .section-content-wrapper {
        @media screen and (min-width: $breakpoint-m) {
            display: flex;
            justify-content: center;
        }

        .testimonial-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;

            @media screen and (min-width: $breakpoint-m) {
                width: 82.91%;
                align-items: center;
            }

            .testimonial-rating {
                display: flex;
                justify-content: flex-start;
                gap: 6px;
            }

            .testimonial-quote {
                @media screen and (min-width: $breakpoint-m) {
                    text-align: center;
                }
            }

            .testimonial-author {
                color: var(--neutral-700);
            }
        }
    }
}