@use "../base/breakpoints" as *;

.three-cards {
    .section-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $breakpoint-s) {
            gap: 40px;

            @media screen and (min-width: $breakpoint-m) {
                gap: 64px;
                align-items: center;
            }
        }

        h2 {
            @media screen and (min-width: $breakpoint-m) {
                text-align: center;
            }
        }

        .cards-wrapper {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            width: 100%;

            @media screen and (min-width: $breakpoint-m) {
                width: 82.91%;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
            }
        }
    }
}